/* ************* bg sections ************* */
.realisation{
    background-color: var(--bg-light);
    padding: 1rem 2rem;
}

.reaProjet{
    background-color: var(--bg-dark-2);
    padding: 1rem 2rem;
}

/* *************** projets *************** */
.vignette{
    width: 100%;
    /*border: 2px solid rgb(197, 151, 26);*/
}

.carteRea{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 10px;
    /*border: 2px solid green;*/
}

.projet{
    text-align: center;
    /*border: 2px solid purple;*/
}

.card-img{
    width: 28rem;
    height: 22rem;
    margin: 0;
    padding: 0;
    object-fit: cover;
    border-radius:10px  10px 0 0;
    /*border: 2px solid red;*/
}
 .card-body{
    padding: 0;
    width: 100%;
    /*border:2px dashed rgb(20, 160, 216);*/
 }

.card-title{
    width: 100%;
    margin: 0;
    padding: 0;
    /*border: 2px solid blue;*/
}
/* retire de la card le bg */
.realisation .buttonProjet{
    background: none;
}
/* fiche descriptif de projet */
.tailleFenetre{
    background: var(--bg-light);
    text-align: left;
    border: 2px solid rgb(30, 255, 0);
}
svg.date{
    color: var(--bg-dark-texte);
}

.btn-close{
    border:2px solid red;
}
/* pour que les image dépasse pas */
.modalImg{
    width: 100%;
}

/* retrait du fond boostrap */
.buttonProjet{
    background: none;
    border: none;
}

/* destock */
@media (min-width: 769px){
    .projetRealisation{
        padding:0 6rem;
        /*border: 2px solid rgb(131, 25, 163);*/
    }
    
}