
/* *************************************** charte graphique *********************************** */
:root {
    --bg-light: #898121;
    --bg-dark-2: #ffffff;
    --bg-dark-texte: black;
    --bg-1-light: #e8751a;
    --button-light: #fda403;
    --button-light-rose: #fda403;
    --button-light-blue: #fda403;
    --bg-2-light: #d9d9d9;
}

/* Dark Mode */
body.dark {
    --bg-light: #440032;
    --bg-dark-2: #000124;
    --bg-dark-texte: #ffffff;
    --button-light: #939598;
    --bg-2-light:#939598;
    --button-light-rose: #440032;
    --button-light-blue: #000124;
}

/* ************************************** global *********************************************** */

/* navbarre */
.contNav{
    display:inline-block;
    width: 100%;
    background-color: var(--bg-dark-2);
    /*border: 5px solid green;*/
}

/* taille du logo */
.logoComplet {
    height:88px;
}

.logo{
    width: 22%;
    /*border:2px solid red;*/
}

.navbar-nav{
    width: 68%;
    display: flex;
    justify-content: space-between;
    /*border: 2px solid blue;*/
}

.nav-link{
    color: var(--bg-dark-texte);
    font-size: 1.3rem;
}

/*  dark mode */
body {
   /* background-color: var(--bg-light);*/
    color: var(--bg-dark-texte);
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode-button {
    background-color: var(--button-light);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-left: 30px;
}

.dark-mode-button img {
    width: 30px;
    height: 30px;
}

.images img {
    width: 100px;
    height: 100px;
    transition: opacity 0.3s;
}

/* nav bouton dark/light  */
/* Position du bouton de mode sombre en vue bureau */
.dark-mode-button {
    margin-left: auto; /* Pousse le bouton de mode sombre à droite en bureau */
    order: 1;
    border: none;
}

/* Centre les éléments du menu onglet */
.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

/* Vue mobile (max 768px) - bouton à gauche du burger */
@media (max-width: 768px) {
    .navbar-toggler {
        order: 2; /* Le burger reste à droite en mobile */
    }

    .dark-mode-button {
        order: 1; /* Le bouton de mode sombre reste à gauche du burger */
        margin-right: 0.5rem; /* Espace entre le bouton et le burger */
    }

    /* Centrer les onglets quand le menu est déployé */
    .collapse.navbar-collapse {
        justify-content: center;
    }
}

.fa-moon,.fa-sun {
    font-size: 20px;
    color: var(--bg-dark-texte);
    background-color: var(--button-light);
}


h1{
    font-family: "Meow Script", cursive;
    font-size: 3.6rem;
    text-align: center;
}

h2{
    font-family: gabriela;
    font-size: 2rem;
}

p{
    font-family: cagliostro;
    font-size: 1.2rem;
}

button{
    background-color: var(--button-light);
    border-radius: 10px;
    padding: 0.8rem 1rem;
    border: none;
}

a{
    color: var(--bg-dark-texte);
    list-style: none;
    text-decoration: none;
}

/* **************************************** accueil **************************************** */
.fictif, .accroche, .urgence{
    text-align: center;
    padding: 1rem 0;
}

.fictif, .urgence, .ideer, .accueilContact, .footer{
    background-color: var(--bg-light);
    padding: 1rem 2rem;
}

.accroche, .photos, .realisation, .servicesAccueil{
    background-color: var(--bg-dark-2);
    padding: 1rem 2rem;
}

.urgence{
    padding-bottom: 0.5rem;
}

.photosAccueil{
    text-align: center;
    /*border: 2px dashed green;*/
}

.img-fluid{
    width: 35rem;
    height: 20rem;
    margin: 0;
    padding: 1rem;
    /*border: 2px solid red;*/
}

/* ***************** boutton dark mode ******************* */
 .urgence button, .ideer button, .accueilContact button{
    background-color: var(--button-light-blue);
}

.realisation button{
    background-color: var(--button-light-rose);
}
/*.reaGauche{
    border: 2px solid rgb(214, 201, 22);
}*/
/* carroussel  */
/*.carousel{
    width: 50%;
    border: 2px solid red;
}*/

/* taille carrousel automatique */
#carouselExampleSlidesOnly{
    object-fit: cover;
    height: 25rem;
    width: 50%;
}
/* **************************************** réalisation **************************************** */

/* *************** projets *************** */
.container-fluid{
    width: 100%;
    /*border: 2px solid blue;*/
}

.vignette{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 2px solid rgb(197, 151, 26);
}

.projet{
    margin: 0;
    padding: 0;
    border: 2px solid purple;
}

.card-img{
    width: 100%;
    height: 20rem;
    margin: 0;
    padding: 0;
    object-fit: cover;
    border: 2px solid red;
}

.card-title{
    border: 2px solid blue;
}

/* fiche descriptif de projet */
.tailleFenetre{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(30, 255, 0);
}

/* pour que les image dépasse pas */
.modalImg{
    width: 100%;
}

/* retrait du fond boostrap */
.buttonProjet{
    background: none;
    border: none;
}

/* *********************************** contact *************************** */
/* ************** formulaire ************** */
.formulaire{
    padding: 20px 10px ;
    /*border: 2px dashed green;*/
}

.form-label{
    color: var(--bg-dark-texte);
    margin-top: 10px;
    /*border:2px solid blue;*/
}

.form-control{
    font-size: var(--bg-dark-texte);
    color: var(--bg-dark-texte);
    background-color: var(--bg-2-light);
    /*border: 2px solid magenta;*/
}

#message{
    height: 15rem;
}

/* placeholder du message*/
textarea.form-control::placeholder{
    color: var(--bg-dark-texte);
}
/* boutton d'envoi*/
.go{
    text-transform: capitalize;
    color: var(--bg-dark-texte);
    background-color: var(--button-light);
    font-size: 1.6rem;
    border-radius: 5px;
    padding: 5px 70px;
    margin-top: 10px;
    border: none;
}

/* *************** localisation **************** */
.localisation{
    padding: 1rem 0;
    /*border: 2px dashed purple;*/
}

.adresse{
    height: 20rem;
    padding-top: 3rem;
    min-height: 25rem; /* voir si en html on peut pas rajouter un JCC et AIC sur la div */
    text-align: center;
    /*border: 2px solid red;*/
}

.carte{
    margin: 0;
    padding: 0 15px;
    min-height: 25rem;
    text-align: center;
    /*border: 2px solid blue;*/
}

.carte iframe{
    width: 100%;
    height: 100%;
    border: none;
    /*border: 2px solid green;*/
}

/* boutton numéro */
/* Style du bouton */
 #telephoneBoutton {
    padding: 10px 20px;
    font-size: 1.6rem;
    cursor: pointer;
    background-color:var(--button-light);
    color:var(--bg-dark-texte);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#telephoneBoutton:hover {
    background-color: var(--button-light);
}